:root {
  --color-light: #FFFFFF;

  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;

  --color-accent: #FFD11A;
  --color-red: #FF5500;

  --border: 1px solid var(--color-dark-15);

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Kumbh Sans', sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
